<!doctype html>
<html>
  <head>
    <title>Edit Someone's Name</title>
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
  </head>
  <body>
    <h1>Edit Someone's Name</h1>

    <form>
      Feature coming next revision
    </form>

    <h2><a href="../../people">Return to list of all people</a></h2>
  </body>
</html>