<!doctype html>
<html>
  <head>
    <title>Edit Someone's Name</title>
  </head>
  <body>
    <h1>Edit Someone's Name</h1>


    <h2><a href="../../people">Return to list of all people</a></h2>
  </body>
</html>