<!doctype html>
<html>
  <head>
    <title>Attempted Custom Error Screen</title>
    <link rel="stylesheet" type="text/css" href="style/style.css">
  </head>
  <body>

    <!-- not working, but handling error in person.js -->

    <h1>Attempted Custom Error Screen</h1>
    <%= err %>

  </body>
</html>