<!doctype html>
<html>
  <head>
    <title>People Index</title>
  </head>
  <body>
    People Index

    <!-- show all people in database-->
    <!-- people.forEach(show people) -->

  </body>
</html>