<!doctype html>
<html>
  <head>
    <title>People Index</title>
    <!--css doesn't seem to be working -->
    <link rel="stylesheet" type="text/css" href="style/style.css">
  </head>
  <body>
    People Index
    <ul>
      <!-- show all people in database-->
      <!-- people.forEach(show people) -->
      <% people.forEach(function(person){ %>
      <li><a href="people/<%=person.id%>"> <%= person.id + "). " + person.firstname + " " + person.lastname %></a></li>
      <% }) %>
    </ul>
  </body>
</html>