<!doctype html>
<html>
  <head>
    <title>People Index</title>
  </head>
  <body>
    People Index
    <ul>
      <!-- show all people in database-->
      <!-- people.forEach(show people) -->
      <% people.forEach(function(person){ %>
      <li><%= person.id + "). " + person.firstname + " " + person.lastname %></li>
      <% }) %>
    </ul>
  </body>
</html>