<!doctype html>
<html>
  <head>
    <title>People Index</title>
    <!--css doesn't seem to be working -->
    <link rel="stylesheet" type="text/css" href="style/style.css">
  </head>
  <body>
    <h1>People Index</h1>
    <ul class="nav">
      <li><a href="people/new">Add new person</a></li>
    </ul>

    <ul>
      <% people.forEach(function(person){ %>
      <li><a href="people/<%=person.id%>"> <%= person.id + "). " + person.firstname + " " + person.lastname %></a></li>
      <% }) %>
    </ul>
  </body>
</html>