<!doctype html>
<html>
  <head>
    <title>New Person</title>
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
  </head>
  <body>
    <!-- Form to add a new person to the database -->
    <h1>Add a new person</h1>

    <form method="post" action="/people">
      <fieldset>
        <legend>Enter a first and last name to make a new person</legend>
        <input type="text" name="firstname" placeholder="First name">
        <input type="text" name="lastname" placeholder="Last name">
        <input type="submit">
      </fieldset>
    </form>

    
    <h2><a href="../people">Return to list of all people</a></h2>
  </body>
</html>