<!doctype html>
<html>
  <head>
    <title>New Person</title>
  </head>
  <body>
    <!-- Form to add a new person to the database -->
    <h1>Add a new person</h1>


    
    <h2><a href="../people">Return to list of all people</a></h2>
  </body>
</html>