<!doctype html>
<html>
  <head>
    <title>Show Specific Person</title>
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
  </head>
  <body>
    <!--show details of a specific person -->
    <h1>Show a Specific Person</h1>
    <ul>
      <li><%= "ID: " + person.id + ", " + person.firstname + " " + person.lastname %></li>
    </ul>
    <h2><a href="../people">Return to list of all people</a></h2>

  </body>
</html>