<!doctype html>
<html>
  <head>
    <title>Show Specific Person</title>
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
  </head>
  <body>
    <!--show details of a specific person -->
    <h1>Show a Specific Person</h1>
    <ul>
      <li><%= "ID: " + person.id + ", " + person.firstname + " " + person.lastname %></li>
    </ul>

    <form method="get" action="/people/<%=person.id%>/edit">
      <button>Edit this person</button>
    </form>


    <form method="post" action="/people/<%=person.id%>?_method=delete">
      <button>Delete this person</button>
    </form>

    <h2><a href="../people">Return to list of all people</a></h2>

  </body>
</html>